<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747855898697-2lc84ocqbtugrdj6k9h1d4mopur9cjrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747855898697-2lc84ocqbtugrdj6k9h1d4mopur9cjrp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>747855898697-9cn3kts9v518s7s3jt67b7nk3f16qa5q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4pCoH-KPt2iKKe7t70drjBthcbz8VRbM</string>
	<key>GCM_SENDER_ID</key>
	<string>747855898697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliverClient.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>deliverappgfl-client</string>
	<key>STORAGE_BUCKET</key>
	<string>deliverappgfl-client.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747855898697:ios:145af529e5dcb053e6f798</string>
</dict>
</plist>